* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

html {
	font-size: 63.5%;
}

.container {
	width: 100%;
	margin: 3rem auto;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.fill {
	width: 100%;
}

.form-group {
	margin: 1rem 0.4rem;
}
.view__actions button {
	margin-right: 1rem;
}
