@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html {
	font-size: 63.5%;
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	margin: 3rem auto;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.flex .ant-form-item {
	margin: 5px; /* and that, will result in a 10px gap */
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.flex-fill {
	flex: 0 0 100%;
}

.fill {
	width: 100%;
}

.flex-wrap {
	flex-wrap: wrap;
}

.form-group {
	margin: 1rem 0.4rem;
}
.view__actions button {
	margin-right: 1rem;
}

.form__select {
	width: 25%;
}

.card-shad {
	box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11),
		0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06),
		0 7px 70px rgba(90, 97, 105, 0.1);
	border-radius: 3px;
}
