.page__wrap {
	display: flex;
	width: 100%;
}
.page__content {
	flex: 1;
}
.page__extraContent {
	min-width: 242px;
	margin-left: 88px;
	text-align: right;
}
.page__extraContent-img {
	width: 155px;
	margin-top: 15px;
	text-align: center;
}
