.footer {
	text-align: center;
	background-color: #f0f2f5;
}
.footer__credits {
	font-size: 1.3rem;
}
.footer .footer__version {
	font-size: 1rem;
}
.footer .footer__version-number {
	margin-left: 1rem;
	font-size: 1.2rem;
}
